.topBar{
  background-color: #ff416e;
  height:50px;
  color:white;
  font-size:10px;
  padding:10px;
  box-shadow: 0 3px 2px gray;
  margin-top: auto;
}

.template1{
  height:100vh;  
  font-family: 'Poppins', sans-serif;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url('https://img.freepik.com/premium-photo/abstract-green-background-with-tropical-leaves-with-copy-space-ai-generated_852336-21963.jpg?size=626&ext=jpg&ga=GA1.2.1873050670.1691914218&semt=ais');
}

.template1 h3{
  position:absolute;
  margin-left: 250px;
  margin-top:150px;
  color: yellowgreen;
}

.truefalsebg{
  background-image: url('https://img.freepik.com/free-photo/curvy-narrow-muddy-road-dark-forest-surrounded-by-greenery-little-light-coming-from_181624-1825.jpg?size=626&ext=jpg&ga=GA1.1.1873050670.1691914218&semt=ais');
}

.rw{
  background-color: rgb(115, 237, 115);
  padding: 5px;
  /* margin: 10px; */
  color: white;
  border-radius: 10px;
}

.label1{
  position: absolute;
  margin-left:250px;
  margin-top: 200px;
  color: beige;
}

.score1{
  color:aquamarine;
  text-align: center;
}

.quiz-over-message1{
  color: aquamarine;
  text-align: center;
  padding-top: 220px;
  font-size: large;
}